<section class="row">
    <aside class="col-md-3">
        <!-- <photo [url]="image" [title]="animal" [caption]="photographer"></photo> -->
    </aside>
    <main class="text-center col-md-6">
        <h1>{{ubuntuName}}</h1>
        <h3 class="text-muted">{{ubuntuVersion}}</h3>
        <br/>
        <button class="btn btn-primary" (click)="generateName()">Generate</button>
        <div>
            <share-buttons [include]="['facebook','twitter','copy','google','reddit','whatsapp','messenger','telegram','email']"
                [show]="3" [size]="-4" [description]="'Look at this Ubuntu Name #ubuntuNameGenerator!'"></share-buttons>
        </div>
    </main>
    <aside class="col-md-3">
        <h4>Real Names:</h4>
        <div class="list-group realNames">
            <a *ngFor="let name of realNames; let i = index" [routerLink]="['/generator', i]" class="list-group-item list-group-item-action"
                routerLinkActive="active">
                {{name.version}} -
                <b>{{name.adjective}} {{name.animal}}</b>
            </a>
        </div>
    </aside>
</section>