<section class="row">
    <aside class="col-md-3">
    </aside>
    <main class="col-md-6">
        <h1 class="text-center">About</h1>
        <p>
            Hi, my name is Fernando Crespo. I made this as a joke and to learn Angular 5+. I am a developer which likes everything about tech.
        </p>
        <p>
            If you wanna know more about me or anything that I do head to my <a href="//twitter.com/fcrespo82" target="_blank">Twitter</a> or <a href="//github.com/fcrespo82" target="_blank">GitHub</a>. I have a <a href="//blog.fernando.crespo.com.br" target="_blank">blog</a> too, but I do not post frequently.
        </p>
    </main>
    <aside class="col-md-3">
    </aside>
</section>