<!-- <a href="https://github.com/fcrespo82/ubuntu-name-generator" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a> -->

<div class="row jumbotron jumbotron-fluid">
    <h1 class="text-white display-4">
        <img src="/assets/cof_black_hex.svg" alt="Ubuntu Logo" class="logo" />{{title}}
    </h1>
</div>
<section class="row mb-5 pb-5">
    <aside class="col-md-3">
        <figure class="figure" *ngIf="image != ''">
            <img [src]="image" [alt]="animal" class="img-thumbnail">
            <figcaption class="text-right figure-caption">{{photographer}}</figcaption>
        </figure>
    </aside>
    <main class="text-center col-md-6">
        <h1>{{ubuntuName}}</h1>
        <h3 class="text-muted">{{ubuntuVersion}}</h3>
        <br/>
        <button class="btn btn-primary" (click)="generateName()">Generate</button>
    </main>
    <aside class="col-md-3">
        <h4>Real Names:</h4>
        <div class="list-group realNames">
                <a *ngFor="let name of realNames" [routerLink]="['',name.adjective,name.animal,name.version]" class="list-group-item list-group-item-action" routerLinkActive="active">
                    {{name.version}} -
                    <b>{{name.adjective}} {{name.animal}}</b>
                </a>
        </div>
    </aside>
</section>
<footer class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['',adjective,animal,ubuntuVersion]">PermaLink</a>
</footer>