<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="text-white display-4">
            <img src="/assets/cof_black_hex.svg" alt="Ubuntu Logo" class="logo" />{{title}}
        </h1>
    </div>
</div>
<main class="container">
    <div class="row">
        <div class="text-center col-md-8">
            <h1>{{ubuntuName}}</h1>
            <br/>
            <button class="btn btn-primary" (click)="generate()">Generate</button>

        </div>
        <aside class="col-md-4">
            <img [src]="image" [alt]="animal" class="img-thumbnail">
        </aside>
    </div>
</main>