/* You can add global styles to this file, and also import other style files */

@import '~@ngx-share/button/themes/default/default-theme.css';

.jumbotron {
    background-color:#E95420 !important; 
}

body {
    background-color: #FDEEE9;
    color: #111;
    font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

.logo {
    height: 100pt;
}

.realNames {
    height: 330pt;
    overflow-y: scroll;
}

.bg-ubuntu {
    background-color: #E95420;
}